* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

#hero {

    background: url('hero-image.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex-direction: column;
    background-color: #f3f3f3;
    padding: 50px 0;
    
}
.hero-image {
    width: 180%;
    max-width: 1000px; 
    height: auto;
    margin-bottom: 20px; 
    border-radius: 10px; 
}
.hero-text h2 {
    font-size: 3rem;
}

.hero-text p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.section {
    padding: 50px;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    margin: 20px;
}

.product-item img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
